<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <img src="/images/three_lines.gif" class="toggle-menu" />
      <div class="navbar-brand">Premier League Table</div>
    </div>
  </div>
</div>

<div class="dim"></div>

<div id="menu">
  <ul class="nav">
    <li data-view="default">Default Table</li>
    <li data-view="cann">Cann Table</li>
  </ul>
</div>
