<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <select id="table-selector" class="form-control">
                <option value="default">Default Table</option>
                <option value="cann">Cann Table</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h1>Premier League Table</h1>
            <div class="time">Last updated: <%= last_updated %></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <table class="table">
                <thead>
                <tr>
                <th>Position</th>
                <th>Club</th>
                <th class="hidden-xs">Goal Difference</th>
                <th>Points</th>
                </tr>
                </thead>
                <tbody class="table_body"></tbody>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="row-template">
    <td class="position">{{ position }}</td>
    <td class="name"><img src="/images/img_trans.png" class="logo {{ slug }}_logo" /> {{ name }}</td>
    <td class="gd hidden-xs">{{ gd }}</td>
    <td class="points">{{ points }}</td>
</script>