<input type="hidden" id="games_played" value="<%= most_played_games %>" />

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <table class="table">
                <thead>
                <tr>
                <th class="ctr">#</th>
                <th>Club</th>
                <th class="hidden-xs">Goal Difference</th>
                <th class="ctr">Pts</th>
                </tr>
                </thead>
                <tbody class="table_body"></tbody>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="row-template">
    <td class="ctr position">{{ position }}</td>
    <td class="name"><img src="/images/img_trans.png" class="logo {{ slug }}_logo" /> {{ name }} {{ games_in_hand }}</td>
    <td class="gd hidden-xs">{{ gd }}</td>
    <td class="ctr points">{{ points }}</td>
</script>
