@darkblue: #3498db;
@lightblue: #84B6E1;

body { padding-top:70px; }
h1 { font-family: 'Alegreya Sans', sans-serif; margin-top:50px; }

.navbar {
  background-color:@darkblue;

  &.navbar-fixed-top {
    border:0px;
  }

  .navbar-brand {
    float:right;
    color:#FFFFFF;
    font-weight:bold;
  }

  .container-fluid {
    padding-left:0px;

    img {
      cursor:pointer;
    }
  }
}

.dim {
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-color:#000000;
  opacity:0.6;
  z-index:40;
}

#menu {
  display:none;
  position:fixed;
  top:50px;
  left:0px;
  bottom:0px;
  width:200px;
  margin-left:-200px;
  background-color:@lightblue;
  color:#FFFFFF;
  z-index:50;

  ul {
    margin-top:10px;

    li {
      font-size:18px;
      padding:15px;
    }
  }
}

.table {
    border-spacing:1px;
    border-collapse:separate;

    thead {
      tr {
        background-color:#111111;
        color:#FFFFFF;

        th {
          border:0px;
        }
      }
    }
    tbody {
        tr {
            td {
                padding:3px;
                border:0px;
                vertical-align:middle;
                background-color:#ecf0f1;
                color:#000000;
            }

            &.alt_green {
              td {
                background-color:#4C7EFF;
                color:#FFFFFF;
              }
            }

            &.green {
              td {
                background-color:#0039CC;
                color:#FFFFFF;
              }
            }

            &.red {
              td {
                background-color:#B20000;
                color:#FFFFFF;
              }
            }
        }
    }
}

.ctr {
  text-align:center;
}

.time {
    font-size:10px;
    margin-top:-10px;
    margin-left:5px;
}

.logo {
    height:24px; width:24px; background:url(/images/logosprite.png) 100px 100px; margin:0px 12px; vertical-align:middle;

    &.arsenal_logo { background-position:-2px -6px; }
    &.aston_villa_logo { background-position:-24px -6px; }
    &.cardiff_city_logo { background-position:-47px -6px; }
    &.chelsea_logo { background-position:-72px -6px; }
    &.crystal_palace_logo { background-position:-96px -6px; }
    &.everton_logo { background-position:-120px -6px; }
    &.fulham_logo { background-position:-144px -6px; }
    &.hull_city_logo { background-position:-169px -6px; }
    &.liverpool_logo { background-position:-193px -6px; }
    &.manchester_city_logo { background-position:-215px -6px; }
    &.manchester_united_logo { background-position:-239px -6px; }
    &.newcastle_united_logo { background-position:-267px -6px; }
    &.norwich_city_logo { background-position:-291px -6px; }
    &.southampton_logo { background-position:-343px -6px; }
    &.stoke_city_logo { background-position:-369px -6px; }
    &.sunderland_logo { background-position:-398px -6px; }
    &.swansea_city_logo { background-position:-429px -6px; }
    &.tottenham_hotspur_logo { background-position:-451px -6px; }
    &.west_bromwich_albion_logo { background-position:-474px -6px; }
    &.west_ham_united_logo { background-position:-499px -6px; }
}

.barclays_logo { height:36px; width:150px; background:url(/images/logosprite.png) 0px -45px; }
